dbconnect = user='smnl' dbname='smnl' application_name='Smnl'

interface = eth0
load_module = modules/arp.so
# Use this table and these columns for the arp module
# If you omit these it'll assume the table looks like the one below
# you can of course modify this to your own liking, but this
# module will only insert the hardware address and the ip address
# that it belongs to.
# CREATE TABLE public.arptable (
#   hwadr macaddr,
#   ipadr inet,
#   PRIMARY KEY (hwadr, ipadr));
table_name = public.eth0table
macaddr_col = hwadr
ipaddr_col = ipadr

interface = wlan0
load_module = modules/arp.so
# Look we can use a totally different table for wlan0
table_name = public.wlan0table