dbconnect = user='smnl' dbname='smnl' application_name='Smnl'

interface = eth0
load_module = modules/arp.so
# Use this table and these columns for the arp module
# If you omit these it will assume the table looks like the one below
# you can of course modify this to your own liking, but this
# module will only insert the hardware address and the ip address
# that it belongs to.
# CREATE TABLE public.arptable (
#   hwadr macaddr,
#   ipadr inet,
#   PRIMARY KEY (hwadr, ipadr));
table_name = public.eth0table
macaddr_col = hwadr
ipaddr_col = ipadr
# You can send arp requests to certain subnets every x seconds
# this is disabled by default as you probably do not want this
# only enable this if you actually know and understand what it
# does.
# probe_range = 192.168.0.0/24
# probe_interval = 60

interface = wlan0
load_module = modules/arp.so
# Look we can use a totally different table for wlan0
table_name = public.wlan0table
# probe_range = 192.168.1.0/24
# probe_interval = 10